<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="welcome">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ava">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon name="aperture"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="timer"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-bar slot="bottom">
      <ion-tab-button tab="welcome">
        <ion-icon name="filing"></ion-icon>
        <ion-label>Welcome</ion-label>
      </ion-tab-button>
        
      <ion-tab-button tab="scan">
        <ion-icon name="aperture"></ion-icon>
        <ion-label>Scan</ion-label>
      </ion-tab-button>
        
      <ion-tab-button tab="history">
        <ion-icon name="apps"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>
    </ion-tab-bar> -->
  </ion-tab-bar>

</ion-tabs>
